# workspace/.gitignore

*
!/.gitignore

!/docs/
!/docs/**

!/exp/
/exp/*
!/exp/harness/
/exp/harness/*
!/exp/harness/generator.py
!/exp/harness/analysis.ipynb
!/exp/harness/log_parser.py

!/double_sparsity/
/double_sparsity/*
!/double_sparsity/calib.py